In [1]:
### 常规分析包
import os
import time
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import norm, pearsonr, spearmanr
from scipy.spatial import distance
### 绘图包
import matplotlib.pyplot as plt
from matplotlib import gridspec
import matplotlib.lines as mlines
from matplotlib.font_manager import FontProperties
import seaborn as sns
import matplotlib as mpl
mpl.rcParams['pdf.fonttype'] = 42 # 输出PDF文字可编辑
### 其他
import cloudpickle as pickle
import warnings
warnings.filterwarnings("ignore") # 报错提示
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all' #last_expr

In [2]:
tcgsa = pd.read_csv('../Results/2.1.1. TcGSA_ASV_rel(0.1S4P5EC).csv', index_col=0)
tcgsa.shape
tcgsa.head(2)

ClusrMeds = pd.read_csv('../Results/2.1.1. TcGSA_ASV_rel(0.1S4P5EC)_ClusrMeds.csv')
ClusrMeds.shape
ClusrMeds.head(2)

data = pd.read_csv('../Data/16S/MZJ_dada2_table_ASV.tsv', sep='\t', index_col=0, skiprows=1)
data.head(2)

(310, 28)

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,Cluster
3303dcf065483fbf1a02ff00a59b7848,0.868041,1.127654,1.338262,1.482767,1.500521,1.372479,1.173388,0.980821,0.869184,0.881701,...,2.381668,2.446145,2.533824,2.708566,2.864747,2.879094,2.617276,2.061066,1.327369,1
44c9f59231dd703269388032da1d5a98,0.896473,1.143516,1.341858,1.474706,1.481714,1.343840,1.134613,0.930088,0.803492,0.798238,...,2.240409,2.313456,2.406466,2.582573,2.741246,2.765766,2.528348,2.013547,1.330654,1

(27, 7)

   Unnamed: 0  TimePoint         1         2         3         4         5
0           1          1 -0.684115 -0.174532 -1.636056 -0.562766 -0.360451
1           2          2 -0.750570  0.476257 -0.954842 -1.130979 -0.024060

,C11_10,C1_11,C1_12,C1_13,C1_14,C1_15,C1_16,C1_2,C1_21,C1_22,...,M21_M,M25_M,M26_M,M28_M,M29_M,M31_M,M32_M,M34_M,M35_M,M4_M
#OTU ID,,,,,,,,,,,,,,,,,,,,,
3303dcf065483fbf1a02ff00a59b7848,0,0,39,55,43,0,206,923,883,147,...,0,0,0,0,0,0,78,0,0,0
44c9f59231dd703269388032da1d5a98,0,0,59,42,0,25,185,969,773,111,...,0,0,0,0,0,0,0,0,0,0

In [3]:
from sklearn.decomposition import PCA, IncrementalPCA, TruncatedSVD, NMF
childs = [i for i in data.columns if i[0]=='C']
new_data = pd.DataFrame(index=childs, columns=['Cluster'+str(i) for i in range(1, 6)])
for c in range(1, 6):
    asvs = tcgsa.loc[tcgsa['Cluster']==c, :].index
    temp = data.loc[asvs, childs]
    pca = PCA(n_components=1)
    new_data['Cluster'+str(c)] = pca.fit_transform(temp.T)[:, 0]
    c, temp.shape, pca.explained_variance_ratio_
new_data.head(2)

(1, (88, 450), array([0.46386657]))

(2, (122, 450), array([0.36217977]))

(3, (41, 450), array([0.58007896]))

(4, (11, 450), array([0.97810961]))

(5, (48, 450), array([0.34660769]))

          Cluster1    Cluster2    Cluster3    Cluster4   Cluster5
C11_10 -945.522747 -374.174859 -300.155767 -189.135109 -16.510366
C1_11  -917.347621 -386.517485 -269.337439   -9.402844 -16.817262

In [4]:
meta = pd.read_csv('../Data_preprocess/1.1.MetaData.tsv', sep='\t', index_col=0)
meta = meta.loc[childs, ['Gender', 'Mode of delivery', 'Solid food', 'Breastfeeding', 
                         'Feeding mode(BFD:0,MFD:1)', 'Sibling(Y:1,N:0)', 'PAE(Y:1,N:0)', 'Allergy(Y:1,N:0)']]
meta.columns = ['Gender', 'Delivery', 'SolidFood', 'Breastfeeding', 'FeedingMode', 'Sibling', 'PAE', 'Allergy']
meta.head(2)

,Gender,Delivery,SolidFood,Breastfeeding,FeedingMode,Sibling,PAE,Allergy
ID,,,,,,,,
C11_10,Female,C-section,0.0,1.0,0.0,0.0,0.0,1.0
C1_11,Male,Vaginal,0.0,1.0,1.0,0.0,1.0,1.0

In [5]:
### rpy2
import rpy2.robjects as ro
from rpy2.robjects import r, pandas2ri
from rpy2.robjects.packages import importr
from rpy2.robjects.pandas2ri import py2rpy, rpy2py
pandas2ri.activate()

In [6]:
importr('mvpart')
importr('MVPARTwrap')

rpy2.robjects.packages.Package as a <module 'mvpart'>

rpy2.robjects.packages.Package as a <module 'MVPARTwrap'>

In [7]:
_ = r.assign('species', new_data)
_ = r.assign('env', meta)

In [8]:
r('''
set.seed(123)
pdf("test.pdf")
spider_mvpart <- mvpart(data.matrix(species)~., env, xval = nrow(species), xvmult = 100, xv = 'pick', pca = TRUE)
spider_mvpart
dev.off();
''')

X-Val rep : 1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100
Minimum tree sizes
tabmins
 7  8  9 10
59  1  3 37

array([1], dtype=int32)

In [9]:
r('''
set.seed(123)
pdf("test.pdf")
spider_mvpart <- mvpart(data.matrix(species)~., env, xval = nrow(species), xvmult = 100, xv = 'min', pca = TRUE)
spider_mvpart
dev.off();
''')

X-Val rep : 1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99  100
Minimum tree sizes
tabmins
 7  8  9 10
59  1  3 37

array([1], dtype=int32)

In [10]:
_ = r('summary(spider_mvpart)')

Call:
mvpart(form = data.matrix(species) ~ ., data = env, xv = "min",
    xval = nrow(species), xvmult = 100, pca = TRUE)
  n= 450

          CP nsplit rel error    xerror       xstd
1 0.05906661      0 1.0000000 1.0046399 0.09227083
2 0.05448146      1 0.9409334 0.9709403 0.08867007
3 0.02796658      3 0.8319705 0.8591541 0.07280414
4 0.02398731      4 0.8040039 0.8549457 0.07200069
5 0.02221872      5 0.7800166 0.8411165 0.07129574
6 0.01202595      6 0.7577979 0.8062701 0.06862840

Node number 1: 450 observations,    complexity param=0.05906661
  Means=1.061e-13,-5.065e-14,-5.811e-14,1.388e-13,3.245e-15, Summed MSE=4510541
  left son=2 (281 obs) right son=3 (169 obs)
  Primary splits:
      Delivery  splits as  LR,      improve=0.059066610, (0 missing)
      Allergy   < 0.5 to the left,  improve=0.026923220, (0 missing)
      Sibling   < 0.5 to the left,  improve=0.023826670, (20 missing)
      SolidFood < 0.5 to the right, improve=0.010096280, (0 missing)
      PAE       < 0.5 to the right, improve=0.007000085, (0 missing)

Node number 2: 281 observations,    complexity param=0.02796658
  Means=-336.5,82.94,141.9,-141.3,0.3787, Summed MSE=3357782
  left son=4 (151 obs) right son=5 (130 obs)
  Primary splits:
      Allergy       < 0.5 to the right, improve=0.060161930, (0 missing)
      SolidFood     < 0.5 to the right, improve=0.027417750, (0 missing)
      Gender        splits as  LR,      improve=0.014667140, (0 missing)
      Sibling       < 0.5 to the left,  improve=0.008996387, (20 missing)
      Breastfeeding < 0.5 to the left,  improve=0.008174467, (0 missing)

Node number 3: 169 observations,    complexity param=0.05448146
  Means=559.5,-137.9,-236,234.9,-0.6297, Summed MSE=5717850
  left son=6 (84 obs) right son=7 (85 obs)
  Primary splits:
      Sibling     < 0.5 to the left,  improve=0.08336863, (0 missing)
      FeedingMode < 0.5 to the right, improve=0.05678425, (3 missing)
      Allergy     < 0.5 to the left,  improve=0.03498675, (0 missing)
      PAE         < 0.5 to the right, improve=0.03069660, (0 missing)
      Gender      splits as  LR,      improve=0.03025828, (0 missing)

Node number 4: 151 observations
  Means=-496.2,251.2,-204.5,-151.8,2.675, Summed MSE=2186401

Node number 5: 130 observations,    complexity param=0.02398731
  Means=-151,-112.5,544.3,-129,-2.288, Summed MSE=4281733
  left son=10 (90 obs) right son=11 (40 obs)
  Primary splits:
      Gender        splits as  LR,      improve=0.08747012, (0 missing)
      FeedingMode   < 0.5 to the right, improve=0.06434064, (2 missing)
      SolidFood     < 0.5 to the right, improve=0.03534550, (0 missing)
      Breastfeeding < 0.5 to the left,  improve=0.01712783, (0 missing)
      Sibling       < 0.5 to the right, improve=0.01225674, (20 missing)

Node number 6: 84 observations,    complexity param=0.02221872
  Means=-58.29,49.8,-205.1,-18.55,13.84, Summed MSE=3542449
  left son=12 (62 obs) right son=13 (22 obs)
  Primary splits:
      FeedingMode < 0.5 to the right, improve=0.15155740, (0 missing)
      PAE         < 0.5 to the right, improve=0.04450983, (0 missing)
      Gender      splits as  LR,      improve=0.02906375, (0 missing)
      Allergy     < 0.5 to the left,  improve=0.02906375, (0 missing)
      SolidFood   < 0.5 to the left,  improve=0.02344757, (0 missing)

Node number 7: 85 observations,    complexity param=0.05448146
  Means=1170,-323.4,-266.6,485.4,-14.93, Summed MSE=6919888
  left son=14 (64 obs) right son=15 (21 obs)
  Primary splits:
      Allergy     < 0.5 to the left,  improve=0.23904890, (0 missing)
      FeedingMode < 0.5 to the right, improve=0.13103690, (3 missing)
      Gender      splits as  LR,      improve=0.10987040, (0 missing)
      PAE         < 0.5 to the right, improve=0.07435313, (0 missing)
      SolidFood   < 0.5 to the right, improve=0.03578469, (0 missing)

Node number 10: 90 observations
  Means=-45.6,-46.05,156.6,-103.4,0.2011, Summed MSE=3754436

Node number 11: 40 observations
  Means=-388.2,-262,1416,-186.6,-7.89, Summed MSE=4250950

Node number 12: 62 observations
  Means=133.6,-337.1,-180.6,38.43,24.34, Summed MSE=2092765

Node number 13: 22 observations
  Means=-599.1,1140,-274.2,-179.1,-15.75, Summed MSE=5577999

Node number 14: 64 observations
  Means=687.3,-392.3,-268.8,-66.85,-14.2, Summed MSE=2027234

Node number 15: 21 observations
  Means=2641,-113.6,-259.8,2168,-17.16, Summed MSE=1.51353e+07

In [11]:
print(r('''
spider_mvpart_wrap <- MRT(spider_mvpart, percent = 10, species = colnames(species))
spider_mvpart_wrap
'''))

$nodes
[1] 1 2 5 3 6 7

$pourct
      Cluster1   Cluster2     Cluster3    Cluster4     Cluster5
[1,] 70.675781  4.2931284 1.257315e+01 12.45784660 8.950198e-05
[2,] 14.664255 16.2781935 6.899044e+01  0.06408311 3.031725e-03
[3,]  6.676863  2.6524526 9.027366e+01  0.39329909 3.723389e-03
[4,] 79.134978  7.3041705 1.981517e-01 13.31928972 4.341024e-02
[5,] 19.331722 78.5902289 3.157209e-01  1.70446625 5.786185e-02
[6,] 42.936684  0.8733705 9.113194e-04 56.18893585 9.880861e-05

$R2
            [,1]         [,2]         [,3]         [,4]         [,5]
[1,] 0.041745791 0.0025358056 7.426537e-03 7.358428e-03 5.286579e-08
[2,] 0.004101091 0.0045524546 1.929427e-02 1.792186e-05 8.478699e-07
[3,] 0.001601600 0.0006362519 2.165422e-02 9.434186e-05 8.931407e-07
[4,] 0.031408662 0.0028990243 7.864638e-05 5.286424e-03 1.722952e-05
[5,] 0.004295261 0.0174617410 7.014914e-05 3.787105e-04 1.285616e-05
[6,] 0.029743497 0.0006050093 6.312976e-07 3.892372e-02 6.844762e-08

$obj
n= 450

node), split, n, deviance, yval
      * denotes terminal node

 1) root 450 2029744000  2.788328e-14
   2) Delivery=C-section 281  943536800 -5.050985e+01
     4) Allergy>=0.5 151  330146500 -1.197282e+02 *
     5) Allergy< 0.5 130  556625300  2.988989e+01
      10) Gender=Female 90  337899200 -7.649113e+00 *
      11) Gender=Male 40  170038000  1.143526e+02 *
   3) Delivery=Vaginal 169  966316700  8.398383e+01
     6) Sibling< 0.5 84  297565700 -4.365904e+01
      12) FeedingMode>=0.5 62  129751400 -6.426347e+01 *
      13) FeedingMode< 0.5 22  122716000  1.440798e+01 *
     7) Sibling>=0.5 85  588190500  2.101250e+02
      14) Allergy< 0.5 64  129743000 -1.094515e+01 *
      15) Allergy>=0.5 21  317841300  8.838627e+02 *

$percent
[1] 10

$MOYs
            [,1]       [,2]      [,3]       [,4]        [,5]
 [1,] -336.51999   82.93971  141.9377 -141.28532   0.3786970
 [2,]  559.53916 -137.90567 -236.0029  234.91820  -0.6296678
 [3,] -496.21831  251.19683 -204.4519 -151.84236   2.6749262
 [4,] -151.02425 -112.49741  544.2825 -129.02292  -2.2884615
 [5,]  -45.60143  -46.05089  156.6422 -103.43648   0.2010698
 [6,] -388.22560 -262.00206 1416.4732 -186.59241  -7.8899068
 [7,]  -58.29480   49.79810 -205.0867  -18.55268  13.8408348
 [8,] 1170.10449 -323.40115 -266.5554  485.40707 -14.9299293
 [9,]  133.61237 -337.13886 -180.5617   38.43096  24.3399356
[10,] -599.12411 1140.25680 -274.2023 -179.14292 -15.7475402
[11,]  687.34946 -392.25240 -268.7795  -66.84577 -14.1975940
[12,] 2641.35790 -113.56878 -259.7773 2168.46335 -17.1618082

$RWHERE
$RWHERE[[1]]
  [1]   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19
 [19]  20  21  22 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186
 [37] 187 188 189 190 191 192 193 194 371 372 373 374 375 376 377 378 379 380
 [55] 381 382 383 384 385 386 387 388 195 196 197 198 199 200 201 202 203 204
 [73] 205 206 207 208 209 210 211 212 213 214 215 216  47  48  49  50  51  52
 [91]  53  54  55  56  57  58  59  60  61  62  63  64  65  66 217 218 219 220
[109] 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 428
[127] 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446
[145] 447 448 449 450 287 288 289 290 291 292 293 294 295 296 297 298 299 300
[163] 301 302 303 304 305 306 307

$RWHERE[[2]]
  [1]  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84
 [19]  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102
 [37] 103 104 105 106 107 108 109 238 239 240 241 242 243 244 245 246 247 248
 [55] 249 250 251 252 253 254 255 256 257 258 259 260 261 262 349 350 351 352
 [73] 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370
 [91] 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127
[109] 128 129 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423
[127] 424 425 426 427

$RWHERE[[3]]
 [1] 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128
[20] 129 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425
[39] 426 427

$RWHERE[[4]]
 [1]  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65
[20]  66 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
[39] 235 236 237 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443
[58] 444 445 446 447 448 449 450 287 288 289 290 291 292 293 294 295 296 297 298
[77] 299 300 301 302 303 304 305 306 307

$RWHERE[[5]]
 [1] 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213
[20] 214 215 216

$RWHERE[[6]]
 [1] 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
[20] 306 307


$LWHERE
$LWHERE[[1]]
  [1]   1  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39
 [19]  40  41  42  43  44  45  46 130 131 132 133 134 135 136 137 138 139 140
 [37] 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158
 [55] 159 160 161 162 163 164 165 166 167 168 169 170 171 263 264 265 266 267
 [73] 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285
 [91] 286 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
[109] 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
[127] 343 344 345 346 347 348 389 390 391 392 393 394 395 396 397 398 399 400
[145] 401 402 403 404 405 406 407  67  68  69  70  71  72  73  74  75  76  77
[163]  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95
[181]  96  97  98  99 100 101 102 103 104 105 106 107 108 109 238 239 240 241
[199] 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259
[217] 260 261 262 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363
[235] 364 365 366 367 368 369 370 110 111 112 113 114 115 116 117 118 119 120
[253] 121 122 123 124 125 126 127 128 129 408 409 410 411 412 413 414 415 416
[271] 417 418 419 420 421 422 423 424 425 426 427

$LWHERE[[2]]
  [1]   1  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39
 [19]  40  41  42  43  44  45  46 130 131 132 133 134 135 136 137 138 139 140
 [37] 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158
 [55] 159 160 161 162 163 164 165 166 167 168 169 170 171 263 264 265 266 267
 [73] 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285
 [91] 286 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
[109] 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
[127] 343 344 345 346 347 348 389 390 391 392 393 394 395 396 397 398 399 400
[145] 401 402 403 404 405 406 407

$LWHERE[[3]]
 [1]  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85
[20]  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104
[39] 105 106 107 108 109 238 239 240 241 242 243 244 245 246 247 248 249 250 251
[58] 252 253 254 255 256 257 258 259 260 261 262 349 350 351 352 353 354 355 356
[77] 357 358 359 360 361 362 363 364 365 366 367 368 369 370

$LWHERE[[4]]
 [1]   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20
[20]  21  22 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188
[39] 189 190 191 192 193 194 371 372 373 374 375 376 377 378 379 380 381 382 383
[58] 384 385 386 387 388 195 196 197 198 199 200 201 202 203 204 205 206 207 208
[77] 209 210 211 212 213 214 215 216

$LWHERE[[5]]
 [1]   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20
[20]  21  22 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188
[39] 189 190 191 192 193 194 371 372 373 374 375 376 377 378 379 380 381 382 383
[58] 384 385 386 387 388

$LWHERE[[6]]
 [1]  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65
[20]  66 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
[39] 235 236 237 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443
[58] 444 445 446 447 448 449 450


$TABLE1
          DeliveryC-section   Sibling0.5   Allergy0.5  Allergy0.5 GenderFemale
Cluster1       4.174579e+00 4.101091e-01 1.601600e-01 3.140866233  0.429526071
Cluster2       2.535806e-01 4.552455e-01 6.362519e-02 0.289902431  1.746174096
Cluster3       7.426537e-01 1.929427e+00 2.165422e+00 0.007864638  0.007014914
Cluster4       7.358428e-01 1.792186e-03 9.434186e-03 0.528642434  0.037871054
Cluster5       5.286579e-06 8.478699e-05 8.931407e-05 0.001722952  0.001285616
total_col      5.906661e+00 2.796658e+00 2.398731e+00 3.968998688  2.221871753
          FeedingMode0.5 col_total_tree col_total_species
Cluster1    2.974350e+00     11.2895902        44.6038334
Cluster2    6.050093e-02      2.8690287        18.7586245
Cluster3    6.312976e-05      4.8524452        20.5867922
Cluster4    3.892372e+00      5.2059547        15.8648557
Cluster5    6.844762e-06      0.0031948         0.1858941
total_col   6.927293e+00     24.2202136       100.0000000

$LABELS
[1] FALSE

$mat_labels
     splits
[1,] "1"    "Delivery=C-section" "Delivery=Vaginal"
[2,] "3"    "Sibling< 0.5"       "Sibling>=0.5"
[3,] "7"    "Allergy< 0.5"       "Allergy>=0.5"
[4,] "2"    "Allergy>=0.5"       "Allergy< 0.5"
[5,] "5"    "Gender=Female"      "Gender=Male"
[6,] "6"    "FeedingMode>=0.5"   "FeedingMode< 0.5"

attr(,"class")
[1] "MRT"